- title do
  %h1
    = link_to(nomenclatures_path, class: :home) do
      %i
    %span= "/"
    = link_to(nomenclature_path(@item.nomenclature), class: :back) do
      = @item.nomenclature.label
    %span= "/"
    = @item.label
  %p
    - [:xml, :json, :csv].each do |format|
      = link_to(format.to_s.upcase, {format: format}, class: "label label-primary")

%h2 ID
%strong= @item.name      

- if @item.properties.any?
  %h2 Properties
  %table.table.table-bordered.table-striped
    %thead
      %tr
        %th= Property.human_attribute_name(:name)
        %th= Property.human_attribute_name(:value)
    %tbody
      - @item.properties.each do |property|
        %tr
          %td= property.label
          %td= human_property(property)

- if @item.parent
  %h2 Parent        
  - item = @item.parent
  = link_to(item.label, nomenclature_item_path(item.nomenclature_name, item.name))
  = h(" (") + link_to(item.name, nomenclature_item_path(item.nomenclature_name, item.name)) + h(")")
                
- if @item.siblings.any?
  %h2 Siblings
  %ul
    - @item.siblings.each do |item|
      %li
        = link_to(item.label, nomenclature_item_path(item.nomenclature_name, item.name))
        = h(" (") + link_to(item.name, nomenclature_item_path(item.nomenclature_name, item.name)) + h(")")

- if @item.children.any?
  %h2 Children
  %ul
    - @item.children.each do |item|
      %li
        = link_to(item.label, nomenclature_item_path(item.nomenclature_name, item.name))
        = h(" (") + link_to(item.name, nomenclature_item_path(item.nomenclature_name, item.name)) + h(")")

        
          
          
