= render 'title'

= cache [@nomenclature, :list] do
  - property_natures = @nomenclature.property_natures
  %table.table.table-bordered.table-striped
    %thead
      %tr
        %th= Item.human_attribute_name(:label)
        %th= Item.human_attribute_name(:name)
        -# %th= Item.human_attribute_name(:description)
        - property_natures.each do |property_nature|
          %th= property_nature.label
    %tbody
      - @items.each do |item|
        %tr
          %td
            = link_to(nomenclature_item_path(@nomenclature, item)) do
              = item.label
          %td
            = link_to(nomenclature_item_path(@nomenclature, item)) do
              = state_icon(item)
              %strong= item.name
          - property_natures.each do |nature|
            %td
              = human_property(item.properties.detect{ |p| p.nature_id == nature.id }, nature)
          -# %td= item.description
