/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require font-awesome
 *= require_self
 */

@import url(https://fonts.googleapis.com/css?family=Roboto:700italic,700,400italic,400);

$font-family-sans-serif: Roboto, 'Open Sans', Helvetica, sans-serif;
$brand-primary: #359;
$text-color: #666;

@import "bootstrap";
@import "font_awesome";

@mixin icon($icon-name) {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    &:before {
	@each $icon in $icons {
	    @if nth($icon, 1) == $icon-name {
		content: nth($icon, 2);
	    }
	}
    }
}

#main {
  padding: 0 14px;
}

a > i.state, i.state {
    &.draft {
	color: gray;
	@include icon(file);
    }
    &.deliberating {
	color: orange;
	@include icon(gavel);
    }
    &.approved {
	color: green;
	@include icon(check);
    }
    &.deliberating {
	color: orange;
	@include icon(warning);
    }
    &.removed {
	color: red;
	@include icon(ban);
    }
}

a.back {
    i {
	@include icon(chevron-left);
    }
    &:hover {
	text-decoration: none;
    }
}

a.tree {
    i {
	@include icon(indent);
    }
}


a.list {
    i {
	@include icon(table);
    }
}


a.home {
    i {
	@include icon(home);
    }
    &:hover {
	text-decoration: none;
    }
}

table {
    > tbody {
	> tr {
	    td {
		&.decimal {
		    text-align: right;
		}
	    }
	}
    }
}


#legals {
    text-align: center;
    padding: 8px;
}

.tree {
  li {
    list-style-type: none;
  }
}


.item {
  > .item-actions {

    .collapse { display: inline-block; }
    .expand { display: none; }
  }
  &.collapsed > .item-actions {
    .collapse { display: none; }
    .expand { display: inline-block; }
  }
}